body {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* Header */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    font-size: 1em;
    margin-bottom: 15vh;
}
nav > div {
    display: flex;
    flex-direction: column;
}
.option-grid {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    width: 1em;
    height: 1em;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
    
}
.option-grid > div{
    background-color: gray;
    width: 26%;
    height: 26%;
}
/* Used in Header and Footer */
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
ul > li {
    margin-right: 1em;
}

ul > li:last-child {
    margin-right: 0;
}
ul > li > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.886);
}
ul > li > a#SignIn {
    padding: .4em 1em;
    color: white;
    background-color: rgb(51, 126, 218);
    border-radius: 5%;
    text-decoration: none;
}

/* Main */
main {
    margin-bottom: auto;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container > a > img {
    width: 25vw;
    height: auto;
    margin-bottom: 2em;
}
.container > form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

[src="imgs/search.svg"] {
    height: 1em;
    width: auto;
}

[src="imgs/Google_mic.svg"] {
    height: 1.2em;
    width: auto;
}

.search-container {
    margin-bottom: 2em;
    border: 1px rgba(169, 169, 169, 0.331) solid;
    padding: 0.25em 1em;
    border-radius: 2em;
}

form > div > button {
    padding: .75em 1em;
    margin: 0 1em;
    background-color:rgb(237, 237, 237);
    border: none;
    border-radius: 3px;
}
input {
    width: 35vw;
    height: 3em;
    padding: 0.5em 1em;
    border: none;
}
/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1em;
    padding: 0.75em 2em;
    margin: 0;
    background-color: rgba(116, 116, 116, 0.153);
}
footer > div {
    display: flex;
    flex-direction: row;
}
footer > div > ul > li > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.721);
}
/* Hover Effects */
form > div > button:hover {
    box-shadow: 0 0 0 .75px rgb(116, 116, 116);
    cursor: pointer;
}
ul > li > a:hover {
    text-decoration: underline;
}
.option-grid:hover > div {
    background-color: rgba(0, 0, 0, 0.886);
}
/* on-Click Effects */
input:focus, input:active, input:focus:active {
    box-shadow: none;
    outline: none;
}

.search-container:focus, .search-container:active, 
.search-container:hover, .search-container:focus:active {
    box-shadow: 0 1px 2px 2px rgba(169, 169, 169, 0.173);
}